.flashfinds-header
  .flashfinds-header-left-section
    a.header-link(href='/')
      img.flashfinds-logo(src='images/header_temp.png')

  .flashfinds-header-right-section 
    input.search-bar(type='text' placeholder='Search')
    button.search-button 
      img.search-icon(src='images/icons/search-icon.png')
