* {
  box-sizing: border-box;
}

body {
  background-color: rgb(232, 232, 232);
  margin: 0;
  padding: 0;
  /*   margin: auto; */
  width: 100%;
  /* max-width: 1000px; */
  /* min-width: 1000px; */
}

.main {
  /* max-width: 1200px; */ /* limita a largura do conteúdo */
  width: 100%;
}

.products-grid {
  display: grid;
  justify-content: center; /* centraliza o grid */
  align-items: center;

  /*   min-width: 800px; */
  gap: 20px;
  /* min-width: 1000px; */
  margin: 100px 250px;
}

/* @media is used to create responsive design (making the
   website look good on any screen size). This @media
   means when the screen width is 2000px or less, we
   will divide the grid into 7 columns instead of 8. */
@media (max-width: 1300px) {
  .products-grid {
    margin: 100px 10px;
  }
}

@media (max-width: 800px) {
  .products-grid {
    margin: 100px 10px;
  }
}

/* This @media means when the screen width is 1600px or
   less, we will divide the grid into 6 columns. */
/*@media (max-width: 1600px) {
  .products-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 1300px) {
  .products-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1000px) {
  .products-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 800px) {
  .products-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 575px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  .products-grid {
    grid-template-columns: 1fr;
  }
}
*/

.product-container {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  box-shadow: 0 5px 5px rgba(63, 63, 63, 0.2);

  padding: 10px 30px;

  border-right: 1px solid rgb(231, 231, 231);
  border-bottom: 1px solid rgb(231, 231, 231);

  display: flex;
  align-items: center;
  flex-direction: row;

  /* max-width: 0%;
  min-width: 100%;
  width: 100%; */
  object-fit: contain;

  /* flex-wrap: wrap; */
}

.product-image-container {
  aspect-ratio: 1 / 1;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  min-width: 100px;
  max-width: 200px;
  flex-shrink: 1;
}

/*
.product-image-container img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
    */

.product-image {
  /* Images will overflow their container by default. To
    prevent this, we set max-width and max-height to 100%
    so they stay inside their container. */
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  overflow: hidden;
  display: block;
}

.product-info-container {
  flex: 1;
  margin-left: 5%;
  flex-direction: column;
  display: flex;
  object-fit: contain;
}

.product-name {
  font-size: clamp(18px, 2vw, 25px);
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
.product-price-row-container {
  flex-direction: row;
  display: flex;
  margin-top: 10px;
  align-items: baseline;
}

.product-price-row-container * {
  margin-right: 10px;
}

.product-new-price {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: red;
}

.product-old-price {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 17px;

  text-decoration: line-through;
  text-decoration-color: black; /* muda a cor da linha */
  text-decoration-thickness: 1.5px; /* espessura da linha */
}

.product-discount {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 1;

  background-color: rgb(143, 233, 162);
  color: rgb(6, 81, 1);
  border-radius: 6px;
  padding: 4px 4px;

  margin-right: 10px;
}

.product-divider {
  font-size: 20px;
}

.product-shop {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: rgb(192, 3, 3);
}

.product-category {
  font-size: 18px;
}

.product-shop-link {
  flex-direction: row;
  display: flex;
  margin-top: 15px;
  align-items: center;

  font-size: 22px;
  font-weight: bold;

  background-color: rgb(253, 49, 49);
  color: rgb(255, 255, 255);
  border-radius: 25px;
  padding: 12px 15px;

  width: fit-content;
  display: flex;
  flex-direction: row;
}

.product-link-icon {
  width: 22px;
  height: 22px;

  margin-left: 5px;
  position: relative;
  top: 3px;
}

.product-rating-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.product-rating-stars {
  width: 100px;
  margin-right: 6px;
}

.product-rating-count {
  color: rgb(1, 124, 182);
  cursor: pointer;
  margin-top: 3px;
}

.product-price {
  font-weight: 700;
  margin-bottom: 10px;
}

.product-quantity-container {
  margin-bottom: 17px;
}

.product-spacer {
  flex: 1;
}

.added-to-cart {
  color: rgb(6, 125, 98);
  font-size: 16px;

  display: flex;
  align-items: center;
  margin-bottom: 8px;

  /* At first, the "Added to cart" message will
     be invisible. Use JavaScript to change the
     opacity and make it visible. */
  opacity: 0;
}

.added-to-cart img {
  height: 20px;
  margin-right: 5px;
}

.add-to-cart-button {
  width: 100%;
  padding: 8px;
  border-radius: 50px;
}
