.button-primary {
  cursor: pointer;
  display: inline-block;
  box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
  border: 1px solid transparent;
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease;
}

.button-primary:hover {
  background-color: rgb(223, 12, 12);
  border: 1px solid rgb(212, 25, 12);
}

.button-link {
  text-decoration: none; /*para remover o sublinhado do link*/
}
